body{
    margin: 10px;
}

#name{
        text-shadow: 3px 3px 5px rgb(0, 255, 208);
}
#box{
    width:100px;
    height:100px;
    background-color:rgb(255, 0, 110);
    box-shadow: 3px 3px 5px rgb(0, 255, 208);

}
#p1{
    border-bottom: 3px dashed rgb(194, 46, 46);
    border-left: 3px double rgb(194, 46, 46);
    border-top: 3px dotted rgb(194, 46, 46);
    border-right: 3px solid rgb(194, 46, 46);
}

#p2{
    border-bottom: dotted rgb(194, 46, 46);
    border-top: solid rgb(194, 46, 46);
}

#p3{
     border: 3px solid rgb(194, 46, 46); /* border:width, style, color  */

    border-radius:20px;
}